node_modules
dist
dist-ssr

# Keystores
*.keystore
*.keystore.b64

.env
.env.local
.DS_Store

backend/credentials/
*.json
!package.json
!package-lock.json
!tsconfig.json
!firebase.json
!vercel.json
!capacitor.config.json
!google-services.json

# Android build outputs
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.apk
*.aab
*.jks